* {
  margin: 0;
}
/* --------
Header styles
------------- */
header {
  width: 100%;
}
.header__container {
  background-color: black;
  width: 1321px;
  height: 646px;
  margin: 50px auto;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__text {
  color: white;
  width: 531px;
  height: 424px;
}
.header__text h1 {
  font-size: 90px;
  font-weight: 700;
}
.header__text p {
  font-size: 20px;
  margin: 10px;
}
.header__button {
  background-color: #d00000;
  color: white;
  padding: 16px 25px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
.header__img {
  margin-top: 10px;
  width: 551px;
  height: 613px;
}
/*---------------------
 Styles in main and nav
 ----------------------*/
main {
  display: flex;
  width: 1321px;
  /* height: 646px; */
  margin: 50px auto 50px;
}
.nav__container {
  width: 312px;
  height: 312px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.nav__container a {
  width: 200px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
}
.nav__match,
.nav__group {
  background-color: white;
  color: black;
}
.nav__blog {
  background-color: #d00000;
  color: white;
}
/* ------------------------
styles in section 
---------------------------*/
section {
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 30px;
}
.section__card {
  display: flex;
  flex-direction: column;
  width: 312px;
  height: 362px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 1px solid rgb(241, 236, 236);
  border-radius: 10px;
}
.section__card > p {
  margin: 15px 10px;
  font-weight: bold;
  font-size: 20px;
}
.transfer {
  width: 90px;
  height: 40px;
  /* padding: 5px; */
  text-decoration: none;
  font-weight: bold;
  color: grey;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 10px;
}
.section__icon {
  display: flex;
  align-items: center;
}
.section__icon > img {
  margin-left: 10px;
}

/* Footer */
footer {
  width: 100%;
  height: 444px;
  background-color: black;
  color: white;
}
footer > h1 {
  font-size: 48px;
  text-align: center;
  padding: 80px;
}
footer > hr {
  border: 1px solid rgb(72, 69, 69);
  width: 70%;
  margin: auto;
}
.footer__info {
  margin-top: 70px;
  text-align: center;
  font-weight: bold;
  color: rgb(160, 154, 154);
  font-size: 22px;
}
.footer__info > span {
  margin-left: 36px;
}
/* -----------------------
Responsive css tablet 
------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    /* height: 646px; */
    margin: 50px auto 50px;
  }

  .header__container {
    width: 100%;
    background-color: black;
    height: 646px;
    margin: 50px auto;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 50px;
  }
  .header__text {
    color: white;
    width: 316px;
    height: 276px;
  }
  .header__text h1 {
    font-size: 60px;
    font-weight: 700;
  }
  .header__text p {
    font-size: 15px;
    margin: 7px;
  }
  .header__img {
    margin-top: 10px;
    width: 551px;
    height: 613px;
  }
  .nav__container {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    background-color: white;
  }
  .nav__container a {
    width: 230px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
  }
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 50px;

  }
  .section__card {
    display: flex;
    flex-direction: column;
    width: 357px;
    height: 414px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 1px solid rgb(241, 236, 236);
    border-radius: 10px;
  }
}
