* {
  margin: 0;
}

header {
    width: 100%;
}
.header__container {
  background-color: black;
  width: 1321px;
  height: 646px;
  margin: 50px 140px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__test {
  color: white;
  width: 100%;
  width: 531px;
  height: 424px;
}
.header__test h1{
    font-size: 70px;
    font-weight: 700;
}
.header__test p{
    font-size: 20px;
}
.header__button {
  background-color: #d00000;
  color: white;
  padding: 16px 25px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  font-weight: bold;
}
.header__img{
    width: 551px;
    height: 613px;
}
.nav__container{
    width: 312PX;
    height: 312PX;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.nav__container a{
    width: 230px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}