* {
  margin: 0;
}

header {
    width: 100%;
}
.header__container {
  background-color: black;
  width: 1321px;
  height: 646px;
  margin: 50px 140px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__test {
  color: white;
  width: 50%;
}
.header__button {
  background-color: #d00000;
  color: white;
}
          <img class="header__img" src="assets/Banner Image.png" alt="player" />
.header__img{
    width: 50%;
}